/* banner.css */

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
  }
  
  .navbar {
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  
  .navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 12px;
    transition: background 0.3s;
  }
  
  .navbar ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
  }
  
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar ul {
      flex-direction: column;
      width: 100%;
    }
  
    .navbar ul li {
      margin: 10px 0;
    }
  }
  